body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: lightslategray;
}

.center {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.square-300 {
    width: 300px !important;
    height: 300px !important;
}

.card-content-container {
    /*padding: 16px;*/
    width: 268px;
    height: 269px;
    display: table;
}

.card-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card-panel {
    margin: 0px !important;
    padding: 16px !important;
}

.row {
    margin-bottom: 0px !important;
}

.row .col {
    padding: 0px !important;
}