body {
    font-family: "Roboto", Arial, sans-serif;
    background-color: lightslategray;
    overflow-x: hidden;
}

.center {
    position:fixed;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -150px;
}

.slide-wrapper {
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
}
.slide-wrapper.off-bottom {
    transition-timing-function: ease-out;
    transform: translate(0%,400%);
    -webkit-transform: translate(0%,400%);
}
.slide-wrapper.off-top {
    transition-timing-function: ease-in;
    transform: translate(0%,-400%);
    -webkit-transform: translate(0%,-400%);
}

.square-300 {
    width: 300px !important;
    height: 300px !important;
}

.card-content-container {
    /*padding: 16px;*/
    width: 268px;
    height: 269px;
    display: table;
}

.card-content {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.card-panel {
    margin: 0px !important;
    padding: 16px !important;
}

.row {
    margin-bottom: 0px !important;
}

.row .col {
    padding: 0px !important;
}

.no-highlight {
    user-select: none;
}

.pointer {
    cursor: pointer;
}